body {	background-color: #11111;}

h1 { color: #11111;
	font-family:Arial;
	}

a {color:#ffffff; 
	text-decoration: none;
	font-weight:bold;}

#menu {font-family:Arial;
		position:absolute;
		top:8em;
		left:2em;
		width:7em;
		height:130%;
		background-color:#181818 ;
		margin-right:1em;
		padding-left:1em;	
		}
#content{font-family:Arial;
		position:absolute;
		top:8em;
		left:11em;
		width:80%;
		height:125%;
		background-color:#003366;
		line-height: 250%;
		padding:1em;}
		
#header{ position:absolute;
			top:2em;
			left:2em;}
